<header>
    <div class="headerContainer">
        <div>
            <img src="/img/jonkoping.jpg" class="headerPicture" alt="Logo">
        </div>
        <nav>
            <a href="/" class="btn">Home</a>
            <a href="/stores" class="btn">Stores</a>
        </nav>
    </div>
</header>