<h1>Welcome to the New Jönköping City Website</h1>
<div class = "homeContent">
    <p>
        We are redesigning Jönköping’s city website to make it more modern, user-friendly, and informative.
        Our goal is to create a digital space where residents and visitors can easily find everything about
        Jönköping – from local businesses and attractions to events and essential services.
    </p>

    <p>
        Whether you're looking for the best restaurants, upcoming events, or useful city services,
        this platform will serve as your go-to guide for everything Jönköping.
    </p>
</div>